<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Artigo</ion-title>
    <ion-img src="assets/logo01.png" slot="end" class="logo-geral"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="item | async as art">

  <h2>{{ art.title }}</h2>
  <div class="ion-text-end"><small>Em {{ art.date | date: 'dd/MM/yyyy hh:mm' }}.</small></div>
  <div [innerHTML]="art.text"></div>

  &nbsp;

  <ion-button expand="block" routerLink="/articles">
    <ion-icon name="home" slot="start"></ion-icon>
     Lista de Artigos
  </ion-button>

</ion-content>
