<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
    <ion-img src="assets/logo01.png" slot="end" class="logo-geral"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="auth.user | async as user">

  <!-- Perfil local -->
  <ion-card class="ion-no-margin">
    <div class="ion-text-center">
      <img src="{{ user.photoURL }}" alt="{{ user.displayName }}">
    </div>    
    <ion-card-header>
      <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
      <ion-card-title>{{ user.displayName }}</ion-card-title>
      <ion-card-subtitle>{{ user.phoneNumber }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!-- Perfil social -->
  <p class="ion-padding-top">
    Você fez login usando uma conta do Google.
    Para editar seu perfil e/ou trocar a senha, clique no botão abaixo:
  </p>
  <ion-button expand="block" (click)="profile()" class="ion-margin-bottom">
    <ion-icon name="person" slot="start"></ion-icon>
    Ver / Editar perfil
  </ion-button>

  <!-- Logout -->
  <p class="ion-padding-top">Para sair do aplicativo, clique no botão abaixo:</p>
  <ion-button expand="block" color="danger" routerLink="/user/logout">
    <ion-icon name="log-out" slot="start"></ion-icon>
    Sair do Aplicativo
  </ion-button>

</ion-content>