<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      
    </ion-buttons>
    <ion-title>Faça Contato</ion-title>
    <ion-img src="assets/logo01.png" slot="end" class="logo-geral"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding ion-padding-horizontal">

  <h2>Faça Contato</h2>
  <p>Use o formulário abaixo para entrar em contato com a equipe do "Fuinhas".</p>
  <p class="ion-text-center">
    <ion-text color="danger"><small>Todos os campos obrigatórios.</small></ion-text>
  </p>

  <form [formGroup]="contactForm" (ngSubmit)="contactSend()">

    <ion-list lines="full" class="ion-no-padding">

      <ion-item>
        <ion-label for="name" position="floating" color="primary">
          Nome:
          <ion-text color="danger" *ngIf="contactForm.controls.name.errors">
            <small *ngIf="contactForm.controls.name.errors.required">* Obrigatório</small>
            <small *ngIf="contactForm.controls.name.errors.minlength">* Inválido</small>
          </ion-text>
        </ion-label>
        <ion-input type="text" id="name" name="name" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label for="email" position="floating" color="primary">
          E-mail:
          <ion-text color="danger" *ngIf="contactForm.controls.email.errors">
            <small *ngIf="contactForm.controls.email.errors.required">* Obrigatório</small>
            <small *ngIf="contactForm.controls.email.errors.email">* Inválido</small>
          </ion-text>
        </ion-label>
        <ion-input type="text" id="email" name="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label for="subject" position="floating" color="primary">
          Assunto:
          <ion-text color="danger" *ngIf="contactForm.controls.subject.errors">
            <small *ngIf="contactForm.controls.subject.errors.required">* Obrigatório</small>
            <small *ngIf="contactForm.controls.subject.errors.minlength">* Inválido</small>
          </ion-text>
        </ion-label>
        <ion-input type="text" id="subject" name="subject" formControlName="subject"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label for="message" position="floating" color="primary">
          Mensagem:
          <ion-text color="danger" *ngIf="contactForm.controls.message.errors">
            <small *ngIf="contactForm.controls.message.errors.required">* Obrigatório</small>
            <small *ngIf="contactForm.controls.message.errors.minlength">* Inválido</small>
          </ion-text>
        </ion-label>
        <ion-textarea type="text" id="message" name="message" formControlName="message" autoGrow="true"></ion-textarea>
      </ion-item>

    </ion-list>

    <ion-button class="ion-margin-vertical" type="submit" expand="block" [disabled]="contactForm.invalid">Enviar</ion-button>

  </form>

</ion-content>