<ion-header>
    <ion-toolbar>
        <!-- Menu principal -->
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <!-- Título da página -->
        <ion-title>Início</ion-title>
        <ion-img src="assets/logo01.png" slot="end" class="logo-geral"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <h3>Página inicial</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quam placeat eveniet dolore voluptatum vero pariatur magnam vitae natus hic porro autem earum accusantium quasi, sapiente, atque ratione, ea fuga.</p>

</ion-content>