<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Entrar / Login</ion-title>
    <ion-img src="assets/logo01.png" slot="end" class="logo-geral"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

  <p>Logue-se para ter acesso ao conteúdo exclusivo.</p>
  <ion-button (click)="login()" expand="block">
    <ion-icon name="logo-google" slot="start"></ion-icon>
    Entrar com o Google
  </ion-button>


</ion-content>